{% extends "base.html" %}

{% block page_content %}

<head>
    <title>Blockchain</title>
</head>

<body>
            <table class="table">
                <thead>
                    <th>#</th>
                    <th>User</th>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.wallet_id }}</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h1>Make transactions</h1>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <table class="table">
                <thead>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Amount</th>
                    <th>#</th>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                    {% for field in transaction %}
                        <td> {{ field }} </td>
                    {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class=""></div>
</body>
{% endblock %}